doctype html
html
  head
    title nodeBlog
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      img.logo(src='/images/logo.png')
      nav
        ul
          li
            a(href='/') home
          li
            a(href='/posts/add') add post
          li
            a(href='categories/add') add category
      != messages()
      block content
      footer
        p nodeblog 2016
